<?xml version="1.0" encoding="GBK"?>
<!-- 配置Web应用配置文件的根元素，并指定配置文件的Schema信息 -->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<!-- 定义Struts 2的核心控制器：FilterDispatcher -->
	<filter>
		<!-- 定义核心Filter的名字 -->
		<filter-name>struts2</filter-name>
		<!-- 定义核心Filter的实现类 -->
		<filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
	</filter>
	<!-- FilterDispatcher用来初始化Struts 2并且处理所有的HTTP请求 -->
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<welcome-file-list>
		<welcome-file>addNews.jsp</welcome-file>
	</welcome-file-list>

	<!-- 配置EJB引用 -->
	<ejb-local-ref>
		<!-- 指定EJB引用的引用名 -->
		<ejb-ref-name>newsService</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<!-- 指定EJB引用所引用的EJB的业务接口 -->
		<local>org.crazyit.service.NewsService</local>
	</ejb-local-ref>

</web-app>
