      table{                        
        border: 1px solid black;    
        border-collapse: collapse;  
        width: 50%;                 
      }                             
      th, td{                       
       border: 1px solid black;     
       padding: 3px;                
       width: 25%;                  
      }                             
      th{                           
        background-color: #A0A0A0;  
      }                             
