<html>
    <!-- $Id: package.html,v 1.1 2008/10/15 09:28:27 huangmeng Exp $ -->
<head><title></title></head><body>

<p> This holds a simple Swing-based USB tree browser;
an example program.
It's currently in a very early stage, with only parts of any
framework, but showing lots of information
(sometimes device-specific) about the devices it sees.
It updates the tree display when you add new devices.
Imagine it popping up the right application too ... or
doing that for devices on remote systems!

</body></html>
