<configuration>
  <system.runtime.remoting>
    <application name="HelloServer">

      <service>
        <activated type="Wrox.ProfessionalCSharp.Hello, RemoteHello" />
      </service>

      <channels>
        <channel ref="http" port="6788" displayName="TCP Channel (HelloServer)" />
    		
        <channel ref="tcp" port="6789" displayName="HTTP Channel (HelloServer)" />
      </channels>

    </application>
  </system.runtime.remoting>
</configuration>
