<?xml version="1.0" encoding="UTF-8"?>
<persistence version="1.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence   http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd">
  <!-- 在应用服务器中使用JTA全局事务 -->
  <persistence-unit name="auctionUnit" transaction-type="JTA">
    <jta-data-source>java:/auction</jta-data-source>
    <!-- 列出该应用需要访问的所有的Entity类,
		也可以用 <mapping-file> 或<jar-file>元素来定义 -->
    <class>org.crazyit.auction.model.AuctionUser</class>
    <class>org.crazyit.auction.model.Item</class>
    <class>org.crazyit.auction.model.Bid</class>
    <class>org.crazyit.auction.model.Kind</class>
    <class>org.crazyit.auction.model.State</class>
    <properties>
      <!-- 指定连接数据库的方言 -->
      <property name="hibernate.dialect" value="org.hibernate.dialect.MySQLInnoDBDialect"/>
      <property name="hibernate.show_sql" value="true"/>
      <!-- 设置是否格式化SQL语句 -->
      <property name="hibernate.format_sql" value="true"/>
      <!-- 设置是否根据要求自动建表 -->
      <property name="hibernate.hbm2ddl.auto" value="update"/>
    </properties>
  </persistence-unit>
</persistence>
