<configuration>
  <system.runtime.remoting>
    <application>

      <client url="http://localhost:6788/HelloServer">
        <activated type="Wrox.ProfessionalCSharp.Hello, RemoteHello" />
      </client>

      <channels>
        <channel ref="http" displayName="HTTP Channel (HelloClient)" />
        <channel ref="tcp" displayName="TCP Channel (HelloClient)" />
      </channels>

    </application>
  </system.runtime.remoting>
</configuration>
