<configuration>
  <system.runtime.remoting>
    <application name="Client">

      <client url="tcp:/localhost:6791/Hello" displayName="Hello client for well-known objects">
        <wellknown type="Wrox.ProfessionalCSharp.Hello, RemoteHello" 
	  url="tcp://localhost:6791/Hello/Hi" />
      </client>

      <channels>
        <channel ref="tcp" displayName="TCP Channel (HelloClient)" />
      </channels>

    </application>
  </system.runtime.remoting>
</configuration>
