<configuration>
  <system.runtime.remoting>
    <application name="Client">

      <client url="http:/localhost:6792/Hello">
        <wellknown type="Wrox.ProfessionalCSharp.Hello, RemoteHello" 
	  url="http://localhost:6792/Hello/Hi" />
      </client>

      <channels>
        <channel type="System.Runtime.Remoting.Channels.Tcp.TcpChannel, System.Runtime.Remoting" />
	<channel type="System.Runtime.Remoting.Channels.Http.HttpChannel, System.Runtime.Remoting" />
      </channels>

    </application>
  </system.runtime.remoting>
</configuration>
