<?xml version="1.0" encoding="UTF-8"?>
<web-app 
    xmlns="http://java.sun.com/xml/ns/javaee" 
    version="2.5" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>webclient</display-name>
    <servlet>
        <display-name>greeting</display-name>
        <servlet-name>greeting</servlet-name>
        <jsp-file>/greeting.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>greeting</servlet-name>
        <url-pattern>/greeting</url-pattern>
    </servlet-mapping>
</web-app>
