<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	version="2.5"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <display-name>hello3</display-name>
  <welcome-file-list>
    <welcome-file>greeting.jsp</welcome-file>
  </welcome-file-list>
    <servlet>
      <servlet-name>greeting</servlet-name>
      <servlet-class>greeting.jsp</servlet-class>
  </servlet>

  <servlet-mapping>
      <servlet-name>greeting</servlet-name>
      <url-pattern>/greeting/*</url-pattern>
  </servlet-mapping>

</web-app>

