<?xml version="1.0" encoding="GBK"?>
<!-- Spring配置文件的根元素，使用spring-beans-3.0.xsd语义约束 -->
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<!-- 定义一个业务逻辑组件，实现类为MyServiceImp -->
	<bean id="myService" 
		class="org.crazyit.app.service.impl.MyServiceImpl"/>
	<!-- 让Spring管理的Action实例 -->
	<bean id="loginAction" class="org.crazyit.app.action.LoginAction"
		scope="prototype">
		<!-- 依赖注入业务逻辑组件 -->
		<property name="ms" ref="myService"/>
	</bean>
</beans>

