.unnamed1 {
	font-size: 14px;
}
.unnamed12 {
	font-size: 12px;
}
.eg {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
}
a:link {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	text-decoration: none;


}
a:visited {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;	
	text-decoration: none;

}
a:hover {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	text-decoration: none;

}
.head {
	font-size: 24px;
	color: #993333;
}
.front {
	font-size: 11px;
}
.midfont {	
	font-size: 20px;
}
.contactinfo {	
	font-size: 20px;
	color:#1100ee;
}