<?xml version="1.0" encoding="GBK"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<!-- 为该应用声明安全性角色 -->
	<security-role>
		<description>为该应用声明几个角色</description>
		<role-name>crazyit</role-name>
	</security-role>
	<security-constraint>
		<!-- 定义受保护的Web资源集 -->
		<web-resource-collection>
			<!-- 定义Web资源集的名称 -->
			<web-resource-name>test</web-resource-name>
			<!-- 匹配该URL模式的资源都处于被保护状态下 -->
			<url-pattern>/*</url-pattern>
			<url-pattern>/html/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<!-- 访问受保护资源所需的角色 -->
			<role-name>crazyit</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<!-- 定义该应用的登录配置。 -->
	<login-config>
		<!-- 指定使用自定义表单页来登录 -->
		<auth-method>FORM</auth-method>
		<realm-name>myrealm</realm-name>
		<form-login-config>
			<!-- 指定登录的表单页，登录失败的提示页 -->
			<form-login-page>/login.jsp</form-login-page>
			<form-error-page>/login_fail.jsp</form-error-page>
		</form-login-config>
	</login-config>
	<welcome-file-list>
		<welcome-file>test.jsp</welcome-file>
	</welcome-file-list>
</web-app>
