<configuration>
  <system.runtime.remoting>
    <application>

      <client url="http://localhost:6791/CallbackSample">
	<activated type="Wrox.ProfessionalCSharp.RemoteObject, RemoteObject" />
      </client>

      <channels>
        <channel ref="http" port="777" />
      </channels>

    </application>
  </system.runtime.remoting>
</configuration>
