<configuration>
  <system.runtime.remoting>
    <application>

      <client url="http:/localhost/RemoteHello">
        <wellknown type="Wrox.ProfessionalCSharp.Hello, RemoteHello" 
	  url="http://localhost/RemoteHello/HelloService.soap" />
      </client>

    </application>
  </system.runtime.remoting>
</configuration>
