body           { text-align: center;
                 background-color: #b0c4de }
.bold          { font-weight: bold }
.bigFont       { font-family: helvetica, arial, sans-serif;
                 font-weight: bold;
                 font-size: 2em;
                 color: #00008b }
.italic        { font-style: italic }
.right         { text-align: right }
table, th, td  { border: 3px groove;
                 padding: 5px }
table          { background-color: #6495ed; 
                 margin-left: auto;
                 margin-right: auto }

/***************************************************************
 * (C) Copyright 2001 by Deitel & Associates, Inc. and         *
 * Prentice Hall. All Rights Reserved.                         *
 *                                                             *
 * DISCLAIMER: The authors and publisher of this book have     *
 * used their best efforts in preparing the book. These        *
 * efforts include the development, research, and testing of   *
 * the theories and programs to determine their effectiveness. *
 * The authors and publisher make no warranty of any kind,     *
 * expressed or implied, with regard to these programs or to   *
 * the documentation contained in these books. The authors     *
 * and publisher shall not be liable in any event for          *
 * incidental or consequential damages in connection with, or  *
 * arising out of, the furnishing, performance, or use of      *
 * these programs.                                             *
 ***************************************************************/
