 body{
	font-size:10px;
    margin:0px;
	padding:0px;
	text-align:center;
	background:#E8EDF1;
	color:#000000;
	font-family: Arial, sans-serif, Verdana, Helvetica;
}
 select.style_pages {font-family: Arial, Verdana;width:60px;}
 td{margin:2pt;padding:2pt;font-size:10pt;}
