<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.4"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee   http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<filter>
		<filter-name>CheckRoleFilter</filter-name>
		<filter-class>
			com.taifook.adminportal.filters.CheckRoleFilter
		</filter-class>
		<init-param>
			<param-name>check</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>exclude</param-name>
			<param-value>login.jsp;login.do;index.do;logout.do;loginAclUserProfile.do;</param-value>
		</init-param>
	</filter>

	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>com.taifook.adminportal.filters.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>CheckRoleFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>CheckRoleFilter</filter-name>
		<url-pattern>*.do</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	
    <filter-mapping>
        <filter-name>CharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    
	<listener>
		<listener-class>
			com.taifook.adminportal.listeners.ContextListener
		</listener-class>
	</listener>

	<listener>
		<listener-class>
			com.taifook.adminportal.listeners.SessionListener
		</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>
			com.taifook.adminportal.servlet.AdminActionServlet
		</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>3</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>3</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>DisplayChart</servlet-name>
		<servlet-class>
			org.jfree.chart.servlet.DisplayChart
		</servlet-class>
	</servlet>
	
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowVersionServlet</servlet-name>
    <servlet-class>com.taifook.adminportal.servlet.ShowVersionServlet</servlet-class>
  </servlet>

  <servlet>
         <servlet-name>Admin</servlet-name>
         <servlet-class>
                  org.logicalcobwebs.proxool.admin.servlet.AdminServlet
         </servlet-class>
  </servlet>

  <servlet-mapping>
           <servlet-name>Admin</servlet-name>
           <url-pattern>/admin</url-pattern>
  </servlet-mapping>

   <servlet>
        <servlet-name>ServletRedirector</servlet-name>
        <servlet-class>org.apache.cactus.server.ServletTestRedirector</servlet-class>
    </servlet>
     <servlet-mapping>
        <servlet-name>ServletRedirector</servlet-name>
        <url-pattern>/ServletRedirector</url-pattern>
    </servlet-mapping>
			
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DisplayChart</servlet-name>
		<url-pattern>/servlet/DisplayChart</url-pattern>
	</servlet-mapping>

  <servlet-mapping>
    <servlet-name>ShowVersionServlet</servlet-name>
    <url-pattern>/servlet/showVersion</url-pattern>
  </servlet-mapping>
	
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<welcome-file-list>
		<welcome-file>/jsp/login.jsp</welcome-file>
	</welcome-file-list>
</web-app>

