<?xml version="1.0" encoding="GBK"?>
<!-- 配置Web应用配置文件的根元素，并指定配置文件的Schema信息 -->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

	<!-- 指定JSF的配置文件所在的位置 -->
	<context-param>
		<param-name>javax.faces.CONFIG_FILES</param-name>
		<!-- 多个配置文件之间以“,”隔开 -->
		<param-value>/WEB-INF/faces-config-beans.xml
			,/WEB-INF/faces-config-nav.xml</param-value>
	</context-param>

	<!-- 配置JSF程序状态的保存位置 -->
	<context-param>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<!-- 将程序状态保存在客户端 -->
		<param-value>client</param-value>
	</context-param>

	<!-- 配置JSF的FacesServlet  -->
	<servlet>
		<servlet-name>FacesServlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<!-- 配置JSF核心FacesServlet 的映射 -->
	<servlet-mapping>
		<servlet-name>FacesServlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>

</web-app>
