<configuration>
  <system.runtime.remoting>
    <application name="CallbackSample">

      <service>
	<activated type="Wrox.ProfessionalCSharp.RemoteObject, RemoteObject" />
      </service>

      <channels>
        <channel ref="http" port="6791" />
      </channels>

    </application>
  </system.runtime.remoting>
</configuration>
