<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC 
	"-//Hibernate/Hibernate Configuration DTD//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-2.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="dialect">net.sf.hibernate.dialect.MySQLDialect</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.username">forum</property>
		<property name="connection.password">forum</property> 
		<property name="connection.url">jdbc:mysql://localhost/forum</property>
        <property name="show_sql">true</property>
        
		<mapping resource="com/redsaga/hibernatesample/step1/middlegen/Article.hbm.xml" />
		<mapping resource="com/redsaga/hibernatesample/step1/middlegen/Board.hbm.xml" />
		<mapping resource="com/redsaga/hibernatesample/step1/middlegen/User.hbm.xml" />

	</session-factory>
</hibernate-configuration>
