<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration 
	PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
		  
<hibernate-configuration>
    <session-factory>
    	<property name="connection.factory">org.apache.commons.dbcp.BasicDataSourceFactory</property>
        <property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="connection.url">jdbc:oracle:thin:@172.30.201.65:1521:mtwsa</property>
        <property name="connection.username">web</property>
        <property name="connection.password">sitweb</property>
        <property name="show_sql">true</property>
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle9Dialect</property>
        <mapping resource="com/itsz/sht/dao/hibernate/model/Status.hbm.xml"/>
       	<mapping resource="com/itsz/sht/dao/hibernate/model/Param.hbm.xml"/>
       	<mapping resource="com/itsz/sht/dao/hibernate/model/StatusRemarks.hbm.xml"/>
    </session-factory>
</hibernate-configuration>