<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- You will need to set the path to the XML file Here-->
		<add key="TodoXMLFilePath" value="C:\YourPathHere\MVC.Model\TodoList.xml"/>
		<!-- <add key="TodoXMLFilePath" value="I:\DotNetApps\HeadFirstDesignPatterns\MVC.Model\TodoList.xml"/> -->
	</appSettings>
</configuration>
