<configuration>
  <system.runtime.remoting>
    <application name="Hello">

      <service>
        <wellknown mode="SingleCall" type="Wrox.ProfessionalCSharp.Hello, RemoteHello" 
	  objectUri="Hi" />
      </service>

      <channels>
        <channel ref="tcp" port="6791" displayName="TCP Channel (HelloServer)" />
        <channel ref="http" port="6792" displayName="HTTP Channel (HelloServer)" />
      </channels>

    </application>
  </system.runtime.remoting>
</configuration>
